* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte);
    line-height: 1.6;
    color: var(--preto);
    background-color: #f5f5f5;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: var(--azul);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}